@import './global.scss';


.cardWrapper{
    @media(max-width:$sm),(max-width:$md){
        padding: 0;
        width: 90vw;
        align-items: center;
        margin-left: 1rem;

    }
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    .cardContainer{
        
        @media(max-width:$sm),(max-width:$md){
            width: 80vw;
            justify-content: center;

        }

        align-items: center;
        gap: 2rem;
        min-width: 50%;
        height: 40px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow:1px 1px 1px rgba(0,0,0,0.1);
        border-radius: 8px;
        cursor: pointer;
        gap:2rem;
        
        .leftCardSection{
            @media(max-width:$sm),(max-width:$md){
                margin: 0;

            }


            background-color: #fff;
            width: 20px;
            margin-left: -40px;
            font-size: 10px;
        }
        .rightCardSection{
            background-color: #fff;
            display: flex;
            flex-direction: column;
            
            font-size: 2rem;
            font-weight: bolder;
            .cardPrimaryText{
                font-size: 1.25rem;
                text-align: left;
            }
        }
    }
}
