// HeroSection CSS
@import "./global.scss";

.heroWrapper {
  @media (max-width: $sm), (max-width: $md) {
    padding: 0 2rem;
  }
  @media (max-width: $xl) {
    padding: 4rem;
  }
  margin-top: 3rem;
  height: 83vh;
  position: relative;
  overflow: hidden;
  .topSection {
    @media (max-width: $sm), (max-width: $md) {
      margin-top: 0;
      margin-bottom: 2rem !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
      gap: 2rem !important;
      text-align: center !important;
      width: 100%;
    }
    @media (max-width: $lg) {
      margin-top: 0;
      gap: 15rem;
      justify-content: center;
      text-align: left;
      width: 100%;
    }
    width: 100%;
    align-items: flex-start !important;
  }

  .heroSectionImg {
    @media (max-width: $sm), (max-width: $md) {
      position: relative;
      left: 50%;
      font-size: 4rem;
      height: 25vh !important;
      background-size: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: bottom;
      transform: translateX(-50%);
    }
    @media(max-width:$xs){
      height: 10vh !important;
    }
    @media (max-width: $lg) {
      top: 20%;
    }
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: auto;

    transform: translateX(-50%);

    img {
      @media (max-width: $sm), (max-width: $md) {
        width: 80vw !important;
        margin: 0;
        margin-top: 1rem;
      }
      @media (max-width: $lg) {
        width: 60vw !important;
      }
  
      width: 30vw;
      margin-bottom: 10rem;
      background-image: url("../assets/splash.png");
      background-repeat: no-repeat;
      background-size: contain;
      
      
    }
  }
  .bottomSection {
    @media (max-width: $sm), (max-width: $md) {
      display: none;
    }
    margin-top: 10rem;
    align-items: center;
    flex-wrap: wrap;
   

    .bottomLeft{
     
      z-index: 2;
    }
    .bottomRight {
      display: flex;
      align-self: center;
      gap: 2rem;

      
    }
  }
}
