
@import './global.scss';
$text-color:#0d2f3f;


// Navbar CSS
.navbarWrapper{

    @media (max-width:$sm){
        
    }
    color: $text-color;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-bottom: 4rem;
    background-color: #f8f7f1;

    //box-shadow:0px 5px 25px rgba(0,0,0,0.5);
    .navbarContainer{
        width: 100%;
        position: relative;
        .navbar-title{
            font-size: 1.5rem;
        }
        ul{
            font-size: 1rem;
            font-weight: 500;
            gap:4rem;
            li{
                list-style: none;
                text-transform: uppercase;
                a{
                    text-decoration: none;
                    
                    color: $text-color;
                    cursor: pointer;
                }
            }
        }

        .navMenu{

        }
        .navMobileMenu{
            flex-direction: column;
            position: absolute;
            
            top: 150%;
            right: -100%;
            padding: 1rem;
            gap: 2rem;
            background-color: rgba(255,255,255);
            border-radius: 0.5rem;
        }

        .navShowMenu{
            right: 0;
        }
        .navMenuBtn{
            font-size: 2rem ;
            cursor: pointer;
        }
    }

}