// Services CSS
@import './global.scss';
.servicesWrapper{
    
    @media (max-width:$sm){
        padding: 2rem 0;
    }
    background-color: #fff;
    margin-top:3rem;
    padding: 5rem;
    
    .servicesContainer{
        
        @media (max-width:$sm){
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:2rem;

        }
        align-items: start;
        gap:8rem;
        
        >div {
            @media(max-width:$sm),(max-width:$sm){

                width: 100%;
  
            }

            
            flex: 1;
        }
        .leftSection{
            @media(max-width:$sm),(max-width:$sm){

                max-width: 100vw;
                align-self: center;
                margin-left: 0;
            }
            max-width: 35vw;
            gap: 2rem;
            margin-left:4rem;
        }
    
        .rightSection{
            @media(max-width:$sm),(max-width:$md){
                max-width: 90vw;
                margin-left: 1rem;
                justify-content: center;
                align-items: center;
                margin-right: 0;
                gap:1.5rem;
            }
            display: flex;
            flex-basis: 0;
            flex-direction: column;
            align-items: start;
            gap:2.5rem;
            flex-wrap: wrap;
            max-width: 40vw;
            margin-right: 4rem;
        }
    
    }
   
    
   
}